{% extends 'books/base.html' %}

{% block content %}
  <h1>Formularz wyszukiwania</h1>
  <form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag }} {{ field }}
    {% endfor %}
    <input type="submit" value="Szukaj">
  </form>
  {% if form_date_error %}
    {{ form_date_error }}
  {% endif %}
  <table>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
      <th>Data publikacji</th>
      <th>Nr. ISBN</th>
      <th>Strony</th>
      <th>Link do okładki</th>
      <th>Język publikacji</th>
      <th></th>
      <th></th>
    </tr>
  {% for book in books %}
    <tr>
      <th>
          {% if not book.title or book.title == 'None' %}
             Brak danych
          {% else %} {{ book.title }} {% endif %}
      </th>
      <th>
          {% if not book.author.author or book.author.author == 'None' %}
             Brak danych
          {% else %} {{book.author.author}} {% endif %}
      </th>
      <th>
          {% if not book.publication_date or book.publication_date == 'None' %}
             Brak danych
          {% else %} {{ book.publication_date|date:book.publication_date_type}} {% endif %}
      </th>
      <th>
          {% if not book.isbn or book.isbn == 'None' %}
             Brak danych
          {% else %} {{ book.isbn }} {% endif %}
      </th>
      <th>
          {% if not book.page_count or book.page_count == 'None' %}
             Brak danych
          {% else %} {{ book.page_count }} {% endif %}
      </th>
      <th>
          {% if not book.book_cover or book.book_cover == 'None' %}
             Brak danych
          {% else %}{{ book.book_cover }}{% endif %}
      </th>
      <th>
          {% if not book.language or book.language == 'None' %}
             Brak danych
          {% else %} {{ book.language }} {% endif %}
      </th>
      <th>
        <form class="delete-item-form" action="{% url 'delete' book.id %}" method="POST">
          {% csrf_token %}
          <input class="trash-icon" type="submit" value="x"/>
        </form>
      </th>

      <th>
        <a href="{% url 'edit' book.id %}" class="edit-icon-container">
            Edytuj
        </a>
      </th>

    </tr>
  {% endfor %}
  </table>

{% endblock content %}